.Carousel {
  min-width: 300px;
  max-width: 720px;
  width: 40vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.Carousel__inner {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  transition: transform 1.2s ease-in-out;
}
.Carousel__item {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
