@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,700&display=swap');

:root {
  /* vars */
  --color-primary: #000;
  --color-secondary: #e92800;
  --color-tertiary: #60686e;
  --color-bg: #fbf3ed;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
::selection {
  color: var(--color-bg);
  background: var(--color-secondary);
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.6rem;
  color: var(--color-primary);
  background-color: var(--color-bg);
  width: 100vw;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 50%;
  }
}
