.NavItem {
  background-color: bisque;
  text-align: end;
  margin-top: 2rem;
  margin-right: 2rem;
  color: var(--color-tertiary);
  font-weight: 600;
  cursor: pointer;
}

.NavItem:hover {
  color: var(--color-secondary);
}

.NavItem:active {
  color: var(--color-secondary);
  transform: scale(0.98);
}
.NavItem-active {
  color: var(--color-secondary);
}
